<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="/static/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="/static/profile.js"></script>
</head>
<body>
    <header>
        <i class="fas fa-user"></i>
        <p style="font-family:'Times New Roman', Times, serif;font-size:30px;">
            Welcome to your profile!</p>
    </header>

    <div class="button-container">
        <button class="add-button" onclick="formHandler1.openForm()">Add</button>
        <button class="list-button" onclick="formHandler2.openList()"> <!-- Updated this line -->
            <i class="fas fa-th-list"></i> My List
        </button>
    </div>

    <main>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="formHandler1.closeForm()">&times;</span>
                <h2>Write something in the cloud:</h2>
                <form>
                    <textarea rows="4" placeholder="Enter your text..."></textarea>
                    <br>
                    <button type="button" onclick="formHandler1.submitForm()">Send</button>
                </form>
            </div>
        </div>
        <div id="myModal2" class="modal">
            <div class="modal-content">
                <span class="close" onclick="formHandler2.closeForm()">&times;</span>
                <label class="mylist">Edit
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="mylist">Delete
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
                <form>
                    <textarea rows="4" placeholder="Enter your text..."></textarea>
                    <br>
                    <button type="button" onclick="formHandler2.submitForm()">Change</button>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <p>Contact: your.email@example.com</p>
    </footer>
</body>
</html>
